Sandbox/Binaries/*
Sandbox/Config/*
Sandbox/Content/*
Sandbox/DerivedDataCache/*
Sandbox/Intermediate/*
Sandbox/Platforms/*
Sandbox/Saved/*
Sandbox/.ignore
Sandbox/.vscode/*
Sandbox/.vs/*
Sandbox/.vsconfig
Sandbox/Sandbox.sln

*.code-workspace
*.uproject
G:\VertexSchoolBootcamp\Term02\C++Sandbox\GPTTestV2\.vscode\compileCommands_Default\AITestSuite.433.rsp

GPTTestV2/*
GPTTestV2/Binaries/*
GPTTestV2/Config/*
GPTTestV2/Content/*
GPTTestV2/DerivedDataCache/*
GPTTestV2/Intermediate/*
GPTTestV2/Platforms/*
GPTTestV2/Saved/*
GPTTestV2/.ignore
GPTTestV2/.vscode/*
GPTTestV2/.vs/*
GPTTestV2/.vsconfig
GPTTestV2/GPTTestV2.sln

ChatGPT/Binaries/*
ChatGPT/Config/*
ChatGPT/Content/*
ChatGPT/DerivedDataCache/*
ChatGPT/Intermediate/*
ChatGPT/Platforms/*
ChatGPT/Saved/*
ChatGPT/.ignore
ChatGPT/.vscode/*
ChatGPT/.vs/*
ChatGPT/.vsconfig
ChatGPT/ChatGPT.sln